lxml
python-decouple
apache-airflow-providers-apache-spark
requests
pandas
numpy
pyyaml
pyinstaller
apache-airflow-providers-odbc
apache-airflow-providers-microsoft-mssql
apache-airflow-providers-jdbc
jaydebeapi
apache-airflow-providers-common-sql
pymssql
oracledb
apache-airflow-providers-oracle
mysqlclient
apache-airflow-providers-mysql